
<style>
  .logo-slider {
  overflow: hidden !important;
}

.logo-slider img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: filter 0.3s ease;

}

.logo-slider img:hover {
  -webkit-filter: grayscale(0%) brightness(50%);
  filter: grayscale(0%) brightness(50%);
}

.logo-slider a,
.logo-slider a img {
  margin: 0;
  padding: 0;
}

</style>

<section class="w-full my-5 logo-slider">
  <a href="#"><img src="../../assets/images/logos/logo1.png" alt="logo image"></a>
  <a href="#"><img src="../../assets/images/logos/logo2.png" alt="logo image"></a>
  <a href="#"><img src="../../assets/images/logos/logo3.png" alt="logo image"></a>
  <a href="#"><img src="../../assets/images/logos/logo4.png" alt="logo image"></a>
  <a href="#"><img src="../../assets/images/logos/logo5.png" alt="logo image"></a>
  <a href="#"><img src="../../assets/images/logos/logo6.png" alt="logo image"></a>
</section>