<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="components/emailpop/emailpop.css">
</head>
<body>
    <div class="poping" id="emailPopup">
  <div class="popup">
    <img src="/new-Vanilla-Projects/code Heal/assignment/assets/images.jpg" alt="">
    <div class="popup-content">
      <span class="close" onclick="closePopup()">×</span>
      <h2>Signup for emails</h2>
      <p>Sign up for our newsletter to be the first to learn about new arrivals, special promotions, and online exclusives.</p>
      <input type="email" placeholder="Enter your email">
      <button>Subscribe</button>
      <p style="font-size: 0.9em;">*By submitting this form, you agree to receive our emails and may unsubscribe at any time.</p>
      <div class="no-thanks" onclick="closePopup()">No thanks!</div>
    </div>
  </div>
</div>
</body>
<script src="components/emailpop/emailpop.js"></script>
</html> -->