<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Navbar</title>
  <link rel="stylesheet" href="navbar.css" />
</head>
<body>

 <!-- Navbar -->
  <header class="navbar">
<div class="mobile-left">
    <span class="menu-toggle" onclick="toggleMenu()">☰</span>
  </div>


    <div class="top-left">
      <select>
        <option>English</option>
        <option>Urdu</option>
      </select>
      <select>
        <option>Pakistan PKR Rs</option>
        <option>USD $</option>
      </select>
    </div>

    <div class="logo">
      <img src="img.jpg" alt="Logo" />
      
    </div>

    <div class="icons">
      <span class="icon">🔍</span>
      <span class="icon">➕<sup>0</sup></span>
      <span class="icon">🤍<sup>0</sup></span>
      <span class="icon">🛍️<sup>0</sup></span>
    </div>
  </header>

  <!-- Navigation Links -->
  <nav class="nav-links" id="navMenu">
    <ul>
      <li>Home</li>
      <li>Shop</li>
      <li>About us</li>
      <li>Blog</li>
      <li>Pages</li>
      <li>Contact</li>
    </ul>
  </nav>

  

    <script src="navbar.js"></script>
</body>
</html>