<style>
    .review {
        background-color: var(--color-gray-primay);
    }

    .stars i {
        color: gold;
        font-size: 25px;
    }

    .stars .white-star {
        color: white;
    }
</style>

<section class="review container mx-auto grid grid-cols-1 lg:grid-cols-2 items-center my-10">
  <div class="flex items-center justify-center">
    <div class="review-slider w-full p-4 py-10">
      <!-- Slides -->
       <!-- 1 -->
      <div class=" text-center px-5">
        <div class="flex-cb">
            <i class="fa fa-quote-left text-4xl" aria-hidden="true"></i>
            <div class="stars">
                <i class="fa fa-star texgt-2xl" aria-hidden="true"></i>
                <i class="fa fa-star texgt-2xl" aria-hidden="true"></i>
                <i class="fa fa-star texgt-2xl" aria-hidden="true"></i>
                <i class="fa fa-star texgt-2xl" aria-hidden="true"></i>
                <i class="fa fa-star texgt-2xl" aria-hidden="true"></i>
            </div>
            <div></div>
        </div>
        <p class="text-xl mt-5 text-gray-500 font-semibold">Ut enim blandit volutpat maecenas volutpat. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo nec. Cras pulvinar mattis nunc sed blandit. Quis ipsum suspendisse ultrices gravida dictum fusce ut. </p>
        <div class="flex-cb mt-5">
            <div class=""></div>
            <div class="">
                <h2 class="text-4xl font-bold font-ancizar">Jasmine</h2>
                <span class=" text-gray-500 font-semibold">Friday, Oct 14,2022</span>
            </div>

            
            <i class="fa fa-quote-right text-4xl" aria-hidden="true"></i>
            
        </div>

      </div>
      <!-- 2 -->
       <div class=" text-center px-5">
        <div class="flex-cb">
            <i class="fa fa-quote-left text-4xl" aria-hidden="true"></i>
            <div class="stars">
                <i class="fa fa-star texgt-2xl" aria-hidden="true"></i>
                <i class="fa fa-star texgt-2xl" aria-hidden="true"></i>
                <i class="fa fa-star texgt-2xl" aria-hidden="true"></i>
                <i class="fa fa-star texgt-2xl" aria-hidden="true"></i>
                <i class="fa fa-star texgt-2xl white-star" aria-hidden="true"></i>
            </div>
            <div></div>
        </div>
            <p class="text-xl mt-5 text-gray-500 font-semibold">Ut enim blandit volutpat maecenas volutpat. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo nec. Cras pulvinar mattis nunc sed blandit. Quis ipsum suspendisse ultrices gravida dictum fusce ut. </p>

        <div class="flex-cb mt-5">
            <div class=""></div>
            <div class="">
                <h2 class="text-4xl font-bold font-ancizar">David</h2>
                <span class=" text-gray-500 font-semibold">Thursday, Oct 06,2022</span>
            </div>

            
            <i class="fa fa-quote-right text-4xl" aria-hidden="true"></i>
            
        </div>

      </div>
      <!-- 3 -->
       <div class=" text-center px-5">
        <div class="flex-cb">
            <i class="fa fa-quote-left text-4xl" aria-hidden="true"></i>
            <div class="stars">
                <i class="fa fa-star texgt-2xl" aria-hidden="true"></i>
                <i class="fa fa-star texgt-2xl" aria-hidden="true"></i>
                <i class="fa fa-star texgt-2xl" aria-hidden="true"></i>
                <i class="fa fa-star texgt-2xl" aria-hidden="true"></i>
                <i class="fa fa-star texgt-2xl" aria-hidden="true"></i>
            </div>
            <div></div>
        </div>
        <p class="text-xl mt-5 text-gray-500 font-semibold">Ut enim blandit volutpat maecenas volutpat. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo nec. Cras pulvinar mattis nunc sed blandit. Quis ipsum suspendisse ultrices gravida dictum fusce ut. </p>
        <div class="flex-cb mt-5">
            <div class=""></div>
            <div class="">
                <h2 class="text-4xl font-bold font-ancizar">Madison</h2>
                <span class=" text-gray-500 font-semibold">Saturday, Oct 01,2022</span>
            </div>

            
            <i class="fa fa-quote-right text-4xl" aria-hidden="true"></i>
            
        </div>

      </div>

    </div>
  </div>

  <div>
    <img src="../../assets/images/review.webp" alt="Review Image" class="w-full h-auto object-cover">
  </div>
</section>
