
<div class="nav-component absolute left-[0px] z-50 bg-white" style="bottom: -305px; " >
    <div class="container p-4 mx-auto grid grid-cols-6 gap-2">
        <!-- 5 -->
        <div class="">
            <img style="height:280px; width: 220px;"  src="../../../assets/images/nav-bangles-1.gif" alt="image">
        </div>
        <!-- 2 -->
        <div class="">
            <h3 class="font-bold hover:text-golden cursor-pointer">Bracelet</h3>

            <ul class="">
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">elegant diamond ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">classic traditional ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">stylish desinger ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">diamond classical prong ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">modern bazel diamond ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">channel sparkiling stone ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">gemstones circle shape ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">three stone elegant ring</a></li>
            </ul>
        </div>

        <!-- 3 -->
        <div class="">
            <h3 class="font-bold hover:text-golden cursor-pointer">Shop By Price</h3>

            <ul class="">
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">under $5k</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">$5k - $10</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">$10k - $15k</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">$15k - $20k</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">$20k - $30k</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">$30k - $35k</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">$35k - $40k</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">above $40k</a></li>
            </ul>
        </div>
        <!-- 4 -->
        <div class="">
            <h3 class="font-bold hover:text-golden cursor-pointer">Shope By Metel</h3>

            <ul class="">
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">center stonr diamond ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">gemstone name ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">rubies replace flat ring ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">emerald classic prand ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">comfort stainless steel ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">pesonalize pearl ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">customized promise gold ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">flat band gemstone ring</a></li>
            </ul>
        </div>
        <!-- 5 -->
        <div class="">
           <h3 class="font-bold hover:text-golden cursor-pointer">Shop By Style</h3>

            <ul class="">
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">adjustable ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">sliver ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">cocktail ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">borad ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">eternity ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">multi finger ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">stackable ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">casual ring</a></li>
            </ul>
        </div>
        
        <!-- 6 -->
        <div class="">
            <img style="height:280px; width: 220px;" src="../../../assets/images/nav-bangles-2.gif" alt="image">
        </div>

    </div>
</div>