
<div class="nav-component absolute left-[0px] z-50 bg-white" style="bottom: -240px; " >
    <div class="container p-4 mx-auto grid grid-cols-5 gap-2">
        <!-- 1 -->
        <div class="">
            <h3 class="font-bold hover:text-golden cursor-pointer">Kid's Jewellery</h3>

            <ul class="">
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">elegant diamond ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">classic traditional ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">stylish desinger ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">diamond classical prong ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">modern bazel diamond ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">channel sparkiling stone ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">gemstones circle shape ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">three stone elegant ring</a></li>
            </ul>
        </div>

        <!-- 2 -->
        <div class="">
            <h3 class="font-bold hover:text-golden cursor-pointer">Men's Jewellery</h3>

            <ul class="">
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">casual comfort platinum ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">traditional flat gold ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">classical half rounded glod ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">unique design diamond ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">ustomized plain platinum ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">color gemstorn flat ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">unique desing facny ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">elegant half round ring</a></li>
            </ul>
        </div>
        <!-- 3 -->
        <div class="">
            <h3 class="font-bold hover:text-golden cursor-pointer">Bridal Jewellary</h3>

            <ul class="">
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">center stonr diamond ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">gemstone name ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">rubies replace flat ring ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">emerald classic prand ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">comfort stainless steel ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">pesonalize pearl ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">customized promise gold ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">flat band gemstone ring</a></li>
            </ul>
        </div>
        <!-- 4 -->
        <div class="">
           <h3 class="font-bold hover:text-golden cursor-pointer">Temple Jewellary</h3>

            <ul class="">
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">adjustable ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">sliver ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">cocktail ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">borad ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">eternity ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">multi finger ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">stackable ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">casual ring</a></li>
            </ul>
        </div>
        <!-- 5 -->
        <div class="">
            <h3 class="font-bold hover:text-golden cursor-pointer">Platinum Jewellary</h3>

            <ul class="">
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">adjustable ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">sliver ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">cocktail ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">borad ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">eternity ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">multi finger ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">stackable ring</a></li>
                <li><a href="#" class="hover-effect capitalize font-semibold text-[13px]">casual ring</a></li>
            </ul>        
        </div>

    </div>
</div>