<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .icons {
    display: none;
}
.icon-cart:hover .icons{
    display: flex;
}
.btn-div {
    display: none;
}
.icon-cart:hover .btn-div{
    display: flex;
}
    </style>
</head>
<body>
    
<div class="nav-component absolute z-50" style=" bottom: -465px;" >
    <div class="grid grid-cols-4 gap-3 p-3">

        <a href="#" class="max-w-[300px] icon-cart">
            <div class="relative overflow-hidden max-w-[300px]  cart-s-img-div-with-icons">
                <img src="../../../assets/images/products/shop08.jpg" alt="product image" class=" w-fit transition ease-in-out" />

                <div class="icons absolute top-4 w-full flex justify-center gap-9 z-10">

                    <i class="fa fa-clone bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>
                    <i class="fa fa-heart bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>
                    <i class="fa fa-search bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>

                </div>

                <div class="absolute bottom-5 w-full flex justify-center ">
                    <button class="cart-btn capitalize">add to cart</button>
                </div>
            </div>

           <div class="text-center mt-3 font-[500]">
             <p class="text-[20px] font-ancizar tracking-tighter hover:text-golden">3 Layered Chain Necklace</p>
             <span>$542.00</span>
           </div>
        </a>


          <a href="#" class="max-w-[300px] icon-cart">
            <div class="relative overflow-hidden max-w-[300px]  cart-s-img-div-with-icons">
                <img src="../../../assets/images/products/shop10.jpg" alt="product image" class=" w-fit transition ease-in-out" />

                <div class="icons absolute top-4 w-full flex justify-center gap-9 z-10">

                    <i class="fa fa-clone bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>
                    <i class="fa fa-heart bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>
                    <i class="fa fa-search bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>

                </div>

                <div class="absolute  bottom-5 w-full flex justify-center ">
                    <button class="cart-btn capitalize">add to cart</button>
                </div>
            </div>

           <div class="text-center mt-3 font-[500]">
             <p class="text-[20px] font-ancizar tracking-tighter hover:text-golden">3 Layered Chain Necklace</p>
             <span>$542.00</span>
           </div>
        </a>

          <a href="#" class="max-w-[300px] icon-cart">
            <div class="relative overflow-hidden max-w-[300px]  cart-s-img-div-with-icons">
                <img src="../../../assets/images/products/shop13.jpg" alt="product image" class=" w-fit transition ease-in-out" />

                <div class="icons absolute top-4 w-full flex justify-center gap-9 z-10">

                    <i class="fa fa-clone bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>
                    <i class="fa fa-heart bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>
                    <i class="fa fa-search bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>

                </div>

                <div class="absolute bottom-5 w-full flex justify-center ">
                    <button class="cart-btn capitalize">add to cart</button>
                </div>
            </div>

           <div class="text-center mt-3 font-[500]">
             <p class="text-[20px] font-ancizar tracking-tighter hover:text-golden">3 Layered Chain Necklace</p>
             <span>$542.00</span>
           </div>
        </a>
          <a href="#" class="max-w-[300px] icon-cart">
            <div class="relative overflow-hidden max-w-[300px]  cart-s-img-div-with-icons">
                <img src="../../../assets/images/products/shop12.jpg" alt="product image" class=" w-fit transition ease-in-out" />

                <div class="icons absolute top-4 w-full flex justify-center gap-9 z-10">

                    <i class="fa fa-clone bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>
                    <i class="fa fa-heart bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>
                    <i class="fa fa-search bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>

                </div>

                <div class="absolute bottom-5 w-full flex justify-center ">
                    <button class="cart-btn capitalize">add to cart</button>
                </div>
            </div>

           <div class="text-center mt-3 font-[500]">
             <p class="text-[20px] font-ancizar tracking-tighter hover:text-golden">3 Layered Chain Necklace</p>
             <span>$542.00</span>
           </div>
        </a>

        
    </div>
</div>
</body>
</html>