<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Novana Navbar</title>
  <link rel="stylesheet" href="slider.css" />
</head>
<body>

<!--Slider section-->
<section class="slider-section">
    <div class="slides-container" id="slidesContainer">
      <!-- Slides will be inserted here by JS -->
    </div>

    <div class="controls">
  <span class="prev">&lt;</span>
  <span class="next">&gt;</span>
</div>
<div class="dots" id="dotsContainer"></div>

  </section>




    <script src="script.js"></script>
</body>
</html>