<header>
    <div class="hidden sm:block text-center bg-black w-full p-[7px]">
        <p class="text-gray-100 tracking-tighter text-[13px]">Save 25% now with email sign-up! <span class="font-bold text-[15px] text-white">&nbsp;|&nbsp;</span> Free Shipping on Order Above $100.00</p>
    </div>

    <div class="bg-gray-primay py-[25px]">
        <div class="container mx-auto flex justify-between items-center">
            <div class="hidden md:block">
                <div data-component="./components/search/search.html"></div>
            </div>
          

        <a href="/">
            <img class="w-[163px] h-[26px]" src="../../assets/images/logo.png" alt="logo">
        </a>

        <div class="flex gap-2  items-center text-[13px] font-bold capitalize tracking-tighter">
            <button>
                <span class="hidden md:block capitalize hover:text-golden">sing in</span> 
                <img class="md:hidden w-4 " src="../../assets/images/icons/person.svg" alt="icon">
            </button>
            <span class=""> | </span>
            <a href="">
                <span class="hidden md:block hover:text-golden">your cart</span>
                <img class="md:hidden w-4" src="../../assets/images/icons/cart.svg" alt="icon">
            </a>
            <span> | </span>
            <a href="">
                <span class="hidden md:block hover:text-golden">Wishlist</span>
                <img class="md:hidden w-4" src="../../assets/images/icons/heart.svg" alt="icon">

            </a>
            <span> | </span>
            
            <div data-component="./components/utils/select.html"></div>
            
        </div>

        </div> <!-- End Container  -->
    </div>
</header>