<header>
    <div class="hidden sm:block text-center bg-black w-full p-[7px]">
        <p class="text-gray-100 tracking-tighte text-[13px]">Save 25% now with email sign-up! <span class="font-bold text-[15px] text-white">&nbsp;|&nbsp;</span> Free Shipping on Order Above $100.00</p>
    </div>

    <div class="bg-gray-primay">
        <div class="container flex justify-between items-center">
            <div data-component="./components/search/search.html"></div>
            
        <form action="" class="flex max-w-[211px] h-[19px] text-[16px] bg-white">
            <img src="" alt="">
            <input type="text" placeholder="adfd">
        </form>

        <div class="logo">
            logo
        </div>

        <div class="flex gap-1">
            <button>sing in</button>
            <span> | </span>
            <a href="">your cart</a>
            <span> | </span>
            <a href="">Wishlist</a>
            <span> | </span>
            <select name="country" value="usd" id="">
                <option value="usd"><img src="" alt="icon"> usd</option>
                <option value="aed"><img src="" alt="icon"> aed</option>
                <option value="aoa"><img src="" alt="icon"> aoa</option>
                <option value="aud"><img src="" alt="icon"> aud</option>
                <option value="bwp"><img src="" alt="icon"> bwp</option>
                <option value="cad"><img src="" alt="icon"> cad</option>
                <option value="dzd"><img src="" alt="icon"> dzd</option>
                <option value="eur"><img src="" alt="icon"> eur</option>
                <option value="gbp"><img src="" alt="icon"> gbp</option>
            </select>

        </div>

        </div> <!-- End Container  -->
    </div>
</header>