<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Novana Navbar</title>
  <link rel="stylesheet" href="sale.css" />
</head>
<body>

<!-- Flash Sale Banner -->
  <div class="flash-sale-container">
  <div class="flash-sale" id="flash-sale">
    <div class="flash-slide">Flash Sale Weekend. Up to <span style="font-weight: bold;">50%</span> off <a href="#">Learn more</a></div>
  </div>
</div>



    <script src="sale.js"></script>
</body>
</html>