<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./nav.css">
</head>
<body>

    <nav class="flex gap-4 items-center justify-center py-3 relative container mx-auto">
        <div class="navigation-link ">
            <a id="rings" class="hover-effect" href="/collections/bracelet" data-link>Rings</a>
            <div data-component="./components/navbar/_components/ring.html"></div>
        </div>

        <div class="navigation-link ">
        <a id="jewellery" class="hover-effect" href="/collections/bridal-jewellery" data-link>Jewellery</a>
        <div data-component="./components/navbar/_components/jewellery.html"></div>
        </div>

        <div class="navigation-link ">
        <a id="collections" class="hover-effect" href="/collections/earring" data-link>Collections</a>
        <div data-component="./components/navbar/_components/collections.html"></div>
        </div>

        <div class="navigation-link ">
        <a id="bangles" class="hover-effect active-golden" href="/collections/mens-jewellery" data-link>Bangles</a>
        <div data-component="./components/navbar/_components/bangles.html"></div>
        </div>
        
        <div class="navigation-link ">
        <a id="new-ins" class="hover-effect" href="/collections/engagement-ring" data-link>New Ins</a>
        <div data-component="./components/navbar/_components/new-ins.html"></div>
        </div>

    </nav>
</body>
</html>