<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>catogary</title>
  <link rel="stylesheet" href="category.css" />
</head>
<body>

<section class="category-section">
   <div class="heading-row">
  <h2>Shop by category</h2>
  <div class="nav-buttons">
    <button onclick="scrollLeft()">&lt;</button>
      <button onclick="scrollRight()">&gt;</button>
  </div>
</div>
<div id="category-container" class="category-row"></div>

   </section>

   <section class="gallery" id="imageGallery">
    <!-- First Image Static -->
    <div class="image-card">
      <img src="banner-1.jpg" alt="Product 1" />
      <div class="label">Best Collection</div>
      <a href="https://example.com/product1" class="shop-button">Shop Now →</a>
    </div>
  </section>

   <script src="category.js"></script>
</body>
</html>

