
<style>

.icons {
    display: none;
}
.icon-cart:hover .icons{
    display: flex;
}
.btn-div {
    display: none;
}
.icon-cart:hover .btn-div{
    display: flex;
}
</style>

<section class="text-center my-20 container mx-auto">
    <p class="font-dance text-xl sm:text-2xl">Personalized</p>
    <h3 class="font-ancizar text-2xl sm:text-4xl  ">Latest Design Jewellery</h3>

    <div class="grid place-items-center gap-2 md:gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mt-10 p-3">
<!-- 1 -->
                <a href="#" class="icon-cart">
            <div class="relative overflow-hidden  cart-s-img-div-with-icons">
                <img src="../../../assets/images/products/shop19.jpg" alt="product image" class=" w-fit transition ease-in-out" />

                <div class="icons absolute top-10 w-full  justify-center gap-9 z-10">

                    <i class="fa fa-clone bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>
                    <i class="fa fa-heart bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>
                    <i class="fa fa-search bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>

                </div>

                <div class="absolute btn-div bottom-5 w-full justify-center ">
                    <button class="cart-btn capitalize">add to cart</button>
                </div>
            </div>

           <div class="text-center mt-3 font-[500]">
             <p class="text-[20px] font-ancizar tracking-tighter hover:text-golden">Plain Couple Ring</p>
             <span>$542.00</span>
           </div>
        </a>        
        <!-- 2 -->
        <a href="#" class="icon-cart">
            <div class="relative overflow-hidden   cart-s-img-div-with-icons">
                <img src="../../../assets/images/products/shop10.jpg" alt="product image" class=" w-fit transition ease-in-out" />

                <div class="icons absolute top-10 w-full flex justify-center gap-9 z-10">

                    <i class="fa fa-clone bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>
                    <i class="fa fa-heart bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>
                    <i class="fa fa-search bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>

                </div>

                <div class="absolute bottom-5 w-full btn-div justify-center ">
                    <button class="cart-btn capitalize">add to cart</button>
                </div>
            </div>

           <div class="text-center mt-3 font-[500]">
             <p class="text-[20px] font-ancizar tracking-tighter hover:text-golden">Customized shape pendant necklace</p>
             <span>$542.00</span>
           </div>
        </a>        
        <!-- 3 -->
        <a href="#" class="icon-cart">
            <div class="relative overflow-hidden   cart-s-img-div-with-icons">
                <img src="../../../assets/images/products/shop12.jpg" alt="product image" class=" w-fit transition ease-in-out" />

                <div class="icons absolute top-10 w-full flex justify-center gap-9 z-10">

                    <i class="fa fa-clone bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>
                    <i class="fa fa-heart bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>
                    <i class="fa fa-search bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>

                </div>

                <div class="absolute bottom-5 w-full btn-div justify-center ">
                    <button class="cart-btn capitalize">add to cart</button>
                </div>
            </div>

           <div class="text-center mt-3 font-[500]">
             <p class="text-[20px] font-ancizar tracking-tighter hover:text-golden">Women's Bolo Bracelet</p>
             <span>$542.00</span>
           </div>
        </a>        
        <!-- 4 -->
        <a href="#" class="icon-cart">
            <div class="relative overflow-hidden  cart-s-img-div-with-icons">
                <img src="../../../assets/images/products/shop20.jpg" alt="product image" class=" w-fit transition ease-in-out" />

                <div class="icons absolute top-10 w-full flex justify-center gap-9 z-10">

                    <i class="fa fa-clone bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>
                    <i class="fa fa-heart bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>
                    <i class="fa fa-search bg-white hover:bg-black hover:text-white p-2 transition-all duration-300 ease-in-out" aria-hidden="true"></i>

                </div>

                <div class="absolute bottom-5 w-full btn-div justify-center ">
                    <button class="cart-btn capitalize">add to cart</button>
                </div>
            </div>

           <div class="text-center mt-3 font-[500]">
             <p class="text-[20px] font-ancizar tracking-tighter hover:text-golden">Designed Couple Ring</p>
             <span>$542.00</span>
           </div>
        </a>
    </div>

</section>