<style>

.sale-offer {
    width: 100vw;
    color: #fff;
    background-image: url('../../assets/images/sale-offer.webp');
    background-attachment : fixed;
    background-repeat : no-repeat;
    background-size : cover;
}

.sale-offer a:hover {
    color: var(--golden-color);
    transition: color 0.3s linear;
}
</style>


<section class="sale-offer py-28">
    <div class="container mx-auto">
        <div class=" sm:max-w-[600px] bg-black p-2 sm:p-4">
            <h3 class="font-dance text-3xl sm:text-4xl">Best Offers</h3>
            <h2 class="font-ancizar text-3xl sm:text-4xl ">Save 20% Off  Your Personalized Designs</h2>
            <p class="my-2">Sodales ut etiam sit amet nisl purus. Amet luctus venenatis lectus magna. Rhoncus urna neque viverra justo nec ultrices dui sapien eget. Nunc sed blandit libero volutpat sed cras.</p>
            <a href="#" class="font-ancizar text-xl underline ">
                <img src="../../assets/images/icons/arrow-tlid-u-r.svg" alt="arrow image">
                <span>Shop Now</span>
            </a>
        </div>
    </div>

</section>