<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <style>
        .social-div a:hover {
            background-color: #b68f35;
        }
    </style>
</head>

<footer class="bg-white">
    <div class="container mx-auto px-4 py-8">
        <a href="/" class="block mb-8 text-center">
            <img src="../../assets/images/logo.png" alt="logo" class="mx-auto">
        </a>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 ">
            <!-- 1 - Know Us -->
            <div class="order-2 lg:order-1 mb-5">
                <h2 class="text-3xl font-bold mb-4">Know Us</h2>
                <ul class="flex flex-col gap-4 text-[1.25rem] text-gray-400">
                    <li class="hover:text-golden transition-colors"><a href="#">About</a></li>
                    <li class="hover:text-golden transition-colors"><a href="#">Blogs</a></li>
                    <li class="hover:text-golden transition-colors"><a href="#">FAQ</a></li>
                    <li class="hover:text-golden transition-colors"><a href="#">Contact</a></li>
                    <li class="hover:text-golden transition-colors"><a href="#">Find the store</a></li>
                </ul>
            </div>

            <!-- 2 - Address sm:order-1 md:order-1 lg:order-1 col-span-1 sm:col-span-3 md:col-span-3 lg:col-span-2-->
            <div class="order-1 lg:order-2 col-span-1 sm:col-span-2 lg:col-span-1    mb-5">
                <h2 class="text-3xl font-bold mb-4 text-center lg:text-left">Address</h2>
                <ul class="flex flex-col gap-4 text-xl text-center lg:text-left text-gray-400">
                    <li>No: 58 A, East Madison Street, Baltimore, MD, USA 4508</li>
                    <li><a href="tel:0000123456789" class="hover:text-golden transition-colors">0000 - 123 - 456789</a></li>
                    <li><a href="mailto:info@example.com" class="hover:text-golden transition-colors">info@example.com</a></li>
                    <li>
                        <div class="social-div flex justify-center lg:justify-start gap-4 mt-4">
                            <a href="#" title="Facebook" class="bg-gray-800  text-white px-2 py-1 rounded-full transition"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" title="Twitter" class="bg-gray-800  text-white px-2 py-1 rounded-full transition"><i class="fab fa-twitter"></i></a>
                            <a href="#" title="Linkedin" class="bg-gray-800  text-white px-2 py-1 rounded-full transition"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#" title="Instagram" class="bg-gray-800  text-white px-2 py-1 rounded-full transition"><i class="fab fa-instagram "></i></a>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- 3 - Information -->
            <div class="order-3 sm:order-3  mb-5">
                <h2 class="text-3xl font-bold mb-4">Information</h2>
                <ul class="flex flex-col gap-4 text-[1.25rem] text-gray-400">
                    <li class="hover:text-golden transition-colors"><a href="#" >Orders</a></li>
                    <li class="hover:text-golden transition-colors"><a href="#" >Deliveries</a></li>
                    <li class="hover:text-golden transition-colors"><a href="#" >Cancellation</a></li>
                    <li class="hover:text-golden transition-colors"><a href="#" >Gallery</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copy Right Part -->
    <div class="w-full bg-gray-secondary py-4">
        <div class="container mx-auto px-4 flex flex-col sm:flex-row justify-between items-center gap-2">
            <p class="text-xl text-gray-400">© 2025 dt-aurum DesignThemes 2021</p>
            <div class="flex items-center justify-between">
                <img  src="../../assets/images/icons/f-icon-1-visa.svg" alt="image">
                <img  src="../../assets/images/icons/f-icon-2-mastercard.svg" alt="image">
                <img  src="../../assets/images/icons/f-icon-3-ae.svg" alt="image">
                <img  src="../../assets/images/icons/f-icon-4-paypal.svg" alt="image">
                <img  src="../../assets/images/icons/f-icon-5-dinerclub.svg" alt="image">
                <img  src="../../assets/images/icons/f-icon-6-disvoer.svg" alt="image">
            </div>
        </div>
    </div>
</footer>